<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-mlkit-barcode-scanner"
  version="3.0.7"
  xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>cordova-plugin-mlkit-barcode-scanner</name>
  <js-module name="cordova-plugin-ml-kit-barcode-scanner"
    src="www/BarcodeScanner.plugin.js">
    <clobbers target="cordova.plugins.mlkit.barcodeScanner" />
  </js-module>

  <engines>
    <engine name="cordova"
      version=">=7.1.0" />
    <engine name="cordova-ios"
      version=">=4.5.0" />
  </engines>
  <platform name="ios">
    <config-file parent="/*"
      target="config.xml">
      <feature name="cordova-plugin-mlkit-barcode-scanner">
        <param name="ios-package"
          value="CDViOSScanner" />
      </feature>
    </config-file>
    <config-file target="*-Info.plist"
      parent="CFBundleDevelopmentRegion">
      <string>de_DE</string>
    </config-file>
    <config-file target="*-Info.plist"
      parent="CFBundleLocalizations">
      <array>
        <string>en</string>
        <string>de</string>
      </array>
    </config-file>

    <framework src="Foundation.framework" />
    <framework src="AVFoundation.framework" />
    <framework src="UIKit.framework" />
    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/" />
      </config>
      <pods use-frameworks="true">
        <pod name="GoogleMLKit/BarcodeScanning"
          spec="~> 2.5.0" />
      </pods>
    </podspec>
    <header-file src="src/ios/CDViOSScanner.h" />
    <source-file src="src/ios/CDViOSScanner.m" />
    <header-file src="src/ios/CameraViewController.h" />
    <source-file src="src/ios/CameraViewController.m" />
    <resource-file src="src/ios/Sounds/beep.caf" />
    <resource-file src="src/ios/de.lproj/Localizable.strings"
      target="de.lproj/Localizable.strings" />
    <resource-file src="src/ios/en.lproj/Localizable.strings"
      target="en.lproj/Localizable.strings" />
  </platform>
</plugin>
